.code-popup {
  background-color: linear-gradient(180deg, #21363d 0%, #3f5e7d 100%);
  &._is-open {
    opacity: 1;
    visibility: visible;
    .code-popup__body {
      top: 0;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(32);
    top: rem(-50);
    margin: 0 auto;
    max-width: rem(1100);
    position: relative;
    padding: rem(80) rem(72) rem(40);
    border-radius: rem(50);
    background-color: linear-gradient(180deg, #21363d 0%, #3f5e7d 100%), linear-gradient(0deg, #ffffff, #ffffff);
    overflow: hidden;
    transition: top 220ms ease-in-out;
    box-shadow: 0 0 rem(4) rgba(111, 143, 180, 36%), 
      0 0 rem(8) rgba(111, 143, 180, 36%),
      0 0 rem(30) rgba(111, 143, 180, 36%), 
      0 0 rem(60) rgba(111, 143, 180, 36%);
    @include media(425) {
      padding: rem(72) rem(21) rem(36);
    }
  }

  &__close {
    position: absolute;
    top: rem(12);
    right: rem(12);
  }

  &__action-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
    padding: rem(32) rem(72);
    background-color: rgba(111, 143, 180, 36%);
    backdrop-filter: blur(rem(4));
    border-radius: rem(36);
    overflow: hidden;
    box-shadow: 0 0 rem(4) rgba(111, 143, 180, 36%), 0 0 rem(8) rgba(111, 143, 180, 36%),
      0 0 rem(30) rgba(111, 143, 180, 36%), 0 0 rem(60) rgba(111, 143, 180, 36%);
    &._sending {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 20%);
      background-image: url("./../images/loading-01.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: rem(60);
      backdrop-filter: blur(rem(2));
      z-index: 10;
      transition: $standartTrans;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__title {
    text-align: center;
    font-weight: 300;
    font-size: rem(30);
    color: #fff;
    @include media(425) {
      font-size: rem(21);
    }
  }

  &__field-control {
    width: 100%;
  }

  &__input-control {
    width: 100%;
    border: rem(2) solid #fff;
    border-radius: rem(12);
    padding: rem(16) rem(12);
    background-color: transparent;
    transition: $standartTrans;
    font-size: rem(20);
    font-weight: 200;
    color: #fff;
    @include hidePlaceholder();
    @include styledPlaceholder(#ddd);
    &:focus {
      box-shadow: 0 0 0 rem(3) rgba(111, 143, 180, 80%);
      border-color: transparent;
    }
    &._error {
      box-shadow: 0 0 rem(16) red;
      border-color: transparent;
    }
  }

  &__submit {
    @include media(425) {
      padding: rem(20) rem(12);
    }
  }
}
