.page {
  &__audio-accord {
  }
  &_library {
    background: url(./../images/library/bg-img.png) no-repeat 0 0 / cover;
    overflow: hidden;
    background-position: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(24, 26, 27, 0.6);
    }
  }
}
.accordion {
  padding-top: rem(30);
  position: relative;
  padding-bottom: rem(60);
  @include adaptiveClamp("padding-bottom", 60, 30, 767, 425, 1);
  // @include adaptiveClamp("padding-bottom", 60, 30, 900, 425, 1);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    position: relative;
    text-align: center;
    margin-top: rem(60);
    margin-bottom: rem(60);
    @include adaptiveClamp("margin-bottom", 60, 30, 767, 425, 1);
    @include adaptiveClamp("margin-top", 60, 30, 767, 425, 1);
  }
  &__block {
    width: 100%;
    max-width: 630px;
    padding: 60px;
    border-radius: 20px;
    background: rgba(111, 143, 180, 0.361);
    box-shadow: 0 0 3px 0 rgba(#000, 18%), 0 0 5px 0 rgba(#000, 18%), 0 0 10px 0 rgba(#000, 18%),
      0 0 20px 0 rgba(#000, 18%);
    @include adaptiveClamp("padding", 60, 30, 900, 425, 1);
    @include media(400) {
      padding: 15px;
    }
  }
  &__item {
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(111, 143, 180, 0.361);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &.open {
      .accordion__content {
        visibility: visible;
      }
    }
    &._is-unlock {
      .accordion__btn {
        display: none;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    min-height: 50px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    @include media(400) {
      padding: 5px 20px;
    }
    @include media(350) {
      padding-left: 10px;
    }
  }
  &__text-title {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    max-width: 520px;
    padding-right: 10px;
    line-height: 120%;
    word-wrap: break-word;
    @include media(350) {
      font-size: 16px;
    }
  }
  &__icon {
    flex: 0 0 20px;
    display: flex;
    align-items: center;
    height: 20px;
    & .icon-plus,
    & .icon-minus {
      & path {
        fill: #333;
      }
    }
    &.hide {
      & .icon-minus {
        display: none;
      }
    }
    &.show {
      & .icon-plus {
        display: none;
      }
    }
  }

  &__content {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 200ms linear;
  }

  &__content-text {
    padding: 10px 25px 20px;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    font-weight: 300;
    @include media(400) {
      padding: 10px 20px 10px;
    }
    @include media(350) {
      padding: 10px 20px 20px 10px;
    }
  }
  &__files {
    position: relative;
    padding: 0px 25px 0px;
    @include media(400) {
      padding: 0px 20px 0px;
    }
    @include media(350) {
      padding: 0px 10px 0px 10px;
    }
  }
  &__audio {
    position: relative;
    max-width: 300px;
    padding: 10px 0px;
    @include media(767) {
      max-width: 250px;
    }
    @include media(420) {
      max-width: 220px;
    }
    @include media(350) {
      max-width: 210px;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
    height: 40px;
    background-color: transparent;
  }
  &__lock {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 30%;
    right: 30%;
    @include media(767) {
      right: 8%;
    }
    @include media(350) {
      right: 4%;
    }
    path {
      fill: gold;
    }
    &._is-unlock {
      .accordion__icon-unlock {
        display: block;
      }
      .accordion__icon-lock {
        display: none;
      }
    }
  }
  &__icon-unlock {
    display: none;
  }
  &__icon-lock {
    display: block;
  }
}
